# **Online Retail Sales and Customer Data**

The dataset is in: https://www.kaggle.com/datasets/thedevastator/online-retail-sales-and-customer-data

The **InvoiceNo** column holds unique identifiers for each transaction conducted. This numerical code serves a twofold purpose: it facilitates effortless identification of individual sales or purchases while simultaneously enabling treasury management by offering a repository for record keeping.
In concordance with the invoice number is the **InvoiceDate** column. It provides a date-time stamp associated with every transaction, which can reveal patterns in purchasing behaviour over time and assists with record-keeping requirements.
The **StockCode** acts as an integral part of this dataset; it encompasses alphanumeric sequences allocated distinctively to every item in stock. Such a system aids unequivocally identifying individual products making inventory records seamless.
The **Description** field offers brief elucidations about each listed product, adding layers beyond just stock codes to aid potential customers' understanding of products better and make more informed choices.
Detailed logs concerning sold quantities come under the **Quantity** banner - it lists the units involved per transaction alongside aiding calculations regarding total costs incurred during each sale/purchase offering significant help tracking inventory levels based on products' outflow dynamics within given periods.
Retail isn't merely about what you sell but also at what price you sell- A point acknowledged via our inclusion of unit prices exerted on items sold within transactions inside our dataset's **UnitPrice** column which puts forth pertinent pricing details serving as pivotal factors driving metrics such as gross revenue calculation etc
Finally yet importantly is our dive into foreign waters - literally! With impressive international outreach we're looking into segmentation bases like geographical locations via documenting countries (under the name **Country**) where transactions are conducted & consumers reside extending opportunities for businesses to map their customer bases, track regional performance metrics, extend localization efforts and overall contributing to the formulation of efficient segmentation strategies.
All this invaluable information can be found in a sortable CSV file titled online_retail.csv. This dataset will prove incredibly advantageous for anyone interested in or researching online sales trends, developing customer profiles, or gaining insights into effective inventory management practices

### Description of the columns:
- **InvoiceNo:**	A unique identifier for each transaction. (Numeric)
- **StockCode:**	A unique alphanumeric code assigned to each product in the inventory. (Alphanumeric)
- **Description:**	A brief textual description of each product. (Text)
- **Quantity:**	The number of units of the product involved in the transaction. (Numeric)
- **InvoiceDate:**	The exact date and time when the transaction took place. (Date/Time)
- **UnitPrice:**	The price per unit of the product. (Numeric)
- **CustomerID:** A unique code to identify a customer (Numeric)
- **Country:**	The country where the purchaser resides. (Text)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import geopandas as gpd

In [2]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [3]:
# Replace 'dataset.csv' with the correct path to your CSV file
file_path_sales = '/content/drive/My Drive/Online_Retail_Sales_Customer_Data/online_retail.csv'
df_sales = pd.read_csv(file_path_sales)

# Exploratory Data Analysis

In [4]:
df_sales.head(10)

,index,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom

In [5]:
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   index        541909 non-null  int64
 1   InvoiceNo    541909 non-null  object
 2   StockCode    541909 non-null  object
 3   Description  540455 non-null  object
 4   Quantity     541909 non-null  int64
 5   InvoiceDate  541909 non-null  object
 6   UnitPrice    541909 non-null  float64
 7   CustomerID   406829 non-null  float64
 8   Country      541909 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 37.2+ MB

The majority of my columns have object type


There are two columns that have NaN values:
- Description
- CustomerID

In [6]:
df_sales.describe()

               index       Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  541909.000000  406829.000000
mean   270954.000000       9.552250       4.611114   15287.690570
std    156435.797851     218.081158      96.759853    1713.600303
min         0.000000  -80995.000000  -11062.060000   12346.000000
25%    135477.000000       1.000000       1.250000   13953.000000
50%    270954.000000       3.000000       2.080000   15152.000000
75%    406431.000000      10.000000       4.130000   16791.000000
max    541908.000000   80995.000000   38970.000000   18287.000000

There is a problem with the quantity column because the minimum value is:
 - -80995.000000

 The same problem there is in the columns of UnitPrice

In [7]:
df_sales.shape

(541909, 9)

# Cleaning up the dataset

## Fix some columns

In [8]:
df_sales["InvoiceDate"] = pd.to_datetime(df_sales["InvoiceDate"])
df_sales["Time"] = df_sales["InvoiceDate"].dt.time
df_sales["Day"] = df_sales["InvoiceDate"].dt.day
df_sales["Month"] = df_sales["InvoiceDate"].dt.month
df_sales["Year"] = df_sales["InvoiceDate"].dt.year
df_sales

,index,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Time,Day,Month,Year
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,08:26:00,1,12,2010
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,08:26:00,1,12,2010
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,08:26:00,1,12,2010
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,08:26:00,1,12,2010
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,08:26:00,1,12,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...
541904,541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,12:50:00,9,12,2011
541905,541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,12:50:00,9,12,2011
541906,541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,12:50:00,9,12,2011
541907,541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,12:50:00,9,12,2011
541908,541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,12:50:00,9,12,2011

In [9]:
df_sales['Sales'] = df_sales.Quantity * df_sales.UnitPrice

## Delete the NaN value

In [10]:
df_sales_without_row_NaN = df_sales.copy()
df_sales_without_row_NaN.dropna(inplace = True)

In [11]:
df_sales_without_row_NaN.info()

<class 'pandas.core.frame.DataFrame'>
Index: 406829 entries, 0 to 541908
Data columns (total 14 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   index        406829 non-null  int64
 1   InvoiceNo    406829 non-null  object
 2   StockCode    406829 non-null  object
 3   Description  406829 non-null  object
 4   Quantity     406829 non-null  int64
 5   InvoiceDate  406829 non-null  datetime64[ns]
 6   UnitPrice    406829 non-null  float64
 7   CustomerID   406829 non-null  float64
 8   Country      406829 non-null  object
 9   Time         406829 non-null  object
 10  Day          406829 non-null  int32
 11  Month        406829 non-null  int32
 12  Year         406829 non-null  int32
 13  Sales        406829 non-null  float64
dtypes: datetime64[ns](1), float64(3), int32(3), int64(2), object(5)
memory usage: 41.9+ MB

In [12]:
df_sales_without_row_NaN.describe()

,index,Quantity,InvoiceDate,UnitPrice,CustomerID,Day,Month,Year,Sales
count,406829.000000,406829.000000,406829,406829.000000,406829.000000,406829.000000,406829.000000,406829.000000,406829.000000
mean,278048.159318,12.061303,2011-07-10 16:30:57.879207424,3.460471,15287.690570,15.036128,7.605947,2010.934002,20.401854
min,0.000000,-80995.000000,2010-12-01 08:26:00,0.000000,12346.000000,1.000000,1.000000,2010.000000,-168469.600000
25%,147749.000000,2.000000,2011-04-06 15:02:00,1.250000,13953.000000,7.000000,5.000000,2011.000000,4.200000
50%,284435.000000,5.000000,2011-07-31 11:48:00,1.950000,15152.000000,15.000000,8.000000,2011.000000,11.100000
75%,409528.000000,12.000000,2011-10-20 13:06:00,3.750000,16791.000000,22.000000,11.000000,2011.000000,19.500000
max,541908.000000,80995.000000,2011-12-09 12:50:00,38970.000000,18287.000000,31.000000,12.000000,2011.000000,168469.600000
std,152744.019884,248.693370,NaN,69.315162,1713.600303,8.653730,3.418942,0.248279,427.591718

In [13]:
df_sales_without_row_NaN[df_sales_without_row_NaN.Quantity < 0]

,index,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Time,Day,Month,Year,Sales
141,141,C536379,D,Discount,-1,2010-12-01 09:41:00,27.50,14527.0,United Kingdom,09:41:00,1,12,2010,-27.50
154,154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2010-12-01 09:49:00,4.65,15311.0,United Kingdom,09:49:00,1,12,2010,-4.65
235,235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,2010-12-01 10:24:00,1.65,17548.0,United Kingdom,10:24:00,1,12,2010,-19.80
236,236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom,10:24:00,1,12,2010,-6.96
237,237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom,10:24:00,1,12,2010,-6.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540449,540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,2011-12-09 09:57:00,0.83,14397.0,United Kingdom,09:57:00,9,12,2011,-9.13
541541,541541,C581499,M,Manual,-1,2011-12-09 10:28:00,224.69,15498.0,United Kingdom,10:28:00,9,12,2011,-224.69
541715,541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,2011-12-09 11:57:00,10.95,15311.0,United Kingdom,11:57:00,9,12,2011,-54.75
541716,541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,2011-12-09 11:58:00,1.25,17315.0,United Kingdom,11:58:00,9,12,2011,-1.25
541717,541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,2011-12-09 11:58:00,1.25,17315.0,United Kingdom,11:58:00,9,12,2011,-6.25

I have the problem with the negative quantity

## Maintaining the row with NaN value

In [14]:
df_sales_with_row_NaN = df_sales.copy()

### Description

In [45]:
NaN_description_unique = df_sales_with_row_NaN[df_sales_with_row_NaN['Description'].isnull()]['StockCode'].unique()

In [16]:
description_unique = df_sales_with_row_NaN[df_sales_with_row_NaN['Description'].notna()]['StockCode'].unique()
description_unique

array(['85123A', '71053', '84406B', ..., '90214U', '47591b', '23843'],
      dtype=object)

In [17]:
for SC in NaN_description_unique:
    if SC in description_unique:
        description_mapping = df_sales_with_row_NaN.loc[df_sales_with_row_NaN['StockCode'] == SC, 'Description'].value_counts().idxmax()
        df_sales_with_row_NaN.loc[(df_sales_with_row_NaN['StockCode'] == SC) & (df_sales_with_row_NaN['Description'].isna()), 'Description'] = description_mapping
    else:
        df_sales_with_row_NaN.loc[df_sales_with_row_NaN['StockCode'] == SC, 'Description'] = 'UNKNOWN'

In [18]:
df_sales_with_row_NaN.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 14 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   index        541909 non-null  int64
 1   InvoiceNo    541909 non-null  object
 2   StockCode    541909 non-null  object
 3   Description  541909 non-null  object
 4   Quantity     541909 non-null  int64
 5   InvoiceDate  541909 non-null  datetime64[ns]
 6   UnitPrice    541909 non-null  float64
 7   CustomerID   406829 non-null  float64
 8   Country      541909 non-null  object
 9   Time         541909 non-null  object
 10  Day          541909 non-null  int32
 11  Month        541909 non-null  int32
 12  Year         541909 non-null  int32
 13  Sales        541909 non-null  float64
dtypes: datetime64[ns](1), float64(3), int32(3), int64(2), object(5)
memory usage: 51.7+ MB

### CustomerID

There are three possible ways to handle NaN values in the CustomerID column, but each approach has its own drawbacks:

1. **Eliminate the entire column:** This could remove valuable information necessary for analyzing customer behavior, frequency of sales, or individual spending patterns.

2. **Replace the NaN values with random values**, one for each transaction: While this might seem like a good solution initially, it falls short because different transactions can correspond to the same CustomerID. Unfortunately, the dataset does not allow us to identify customers by analyzing multiple columns jointly, leading to the error of assigning different CustomerIDs to what might be the same customer.

3. **Replace the NaN values with the value '00000.0'** to create a large group with these values: This approach retains most of the information from the CustomerID column, given that there are 135,080 NaN values. However, it is important to exercise caution during subsequent analysis of the dataset to avoid misinterpretation.

We will see all of these three methods

#### Eliminate the entire column

In [27]:
df_without_CustomerID = df_sales_with_row_NaN.copy()

In [29]:
df_without_CustomerID.drop(columns = ['CustomerID'], inplace = True)

In [30]:
df_without_CustomerID.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 13 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   index        541909 non-null  int64
 1   InvoiceNo    541909 non-null  object
 2   StockCode    541909 non-null  object
 3   Description  541909 non-null  object
 4   Quantity     541909 non-null  int64
 5   InvoiceDate  541909 non-null  datetime64[ns]
 6   UnitPrice    541909 non-null  float64
 7   Country      541909 non-null  object
 8   Time         541909 non-null  object
 9   Day          541909 non-null  int32
 10  Month        541909 non-null  int32
 11  Year         541909 non-null  int32
 12  Sales        541909 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(3), int64(2), object(5)
memory usage: 47.5+ MB

#### Replace the NaN values with random values

In [31]:
df_with_random_CustomerID = df_sales_with_row_NaN.copy()

In [32]:
unique_CustomerID_mask = df_with_random_CustomerID.CustomerID.unique()
customerId_mask = df_with_random_CustomerID['CustomerID'].isna()
InvoiceNo_without_CustomerID = df_with_random_CustomerID['InvoiceNo'][customerId_mask]

In [33]:
# Funciton to generate an array with random number

def generate_random_numbers(length, existing_numbers):
    generated_numbers = []
    while len(generated_numbers) < length:
        random_number = np.random.randint(10000, 20000)
        if random_number not in existing_numbers:
            generated_numbers.append(random_number)

    return generated_numbers

In [34]:
new_CustomerID = generate_random_numbers(InvoiceNo_without_CustomerID.nunique(), unique_CustomerID_mask)

In [35]:
# We assign the new CustomerID to the rows with the same InvoiceNo

unique_InvoiceNo_with_NaN = InvoiceNo_without_CustomerID.unique()
for invoice in unique_InvoiceNo_with_NaN:
    new_customerID = np.random.choice(new_CustomerID)   # Randomly select one of the numbers from the array
    df_with_random_CustomerID.loc[(df_with_random_CustomerID['InvoiceNo'] == invoice) & customerId_mask, 'CustomerID'] = new_customerID

In [36]:
df_with_random_CustomerID.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 14 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   index        541909 non-null  int64
 1   InvoiceNo    541909 non-null  object
 2   StockCode    541909 non-null  object
 3   Description  541909 non-null  object
 4   Quantity     541909 non-null  int64
 5   InvoiceDate  541909 non-null  datetime64[ns]
 6   UnitPrice    541909 non-null  float64
 7   CustomerID   541909 non-null  float64
 8   Country      541909 non-null  object
 9   Time         541909 non-null  object
 10  Day          541909 non-null  int32
 11  Month        541909 non-null  int32
 12  Year         541909 non-null  int32
 13  Sales        541909 non-null  float64
dtypes: datetime64[ns](1), float64(3), int32(3), int64(2), object(5)
memory usage: 51.7+ MB

#### Replace the NaN values with the value '00000.0'

In [37]:
df_with_00000_CustomerID = df_sales_with_row_NaN.copy()

In [42]:
customerId_00000_mask =
df_with_00000_CustomerID[customerId_mask]

,index,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Time,Day,Month,Year,Sales
622,622,536414,22139,RETROSPOT TEA SET CERAMIC 11 PC,56,2010-12-01 11:52:00,0.00,NaN,United Kingdom,11:52:00,1,12,2010,0.00
1443,1443,536544,21773,DECORATIVE ROSE BATHROOM BOTTLE,1,2010-12-01 14:32:00,2.51,NaN,United Kingdom,14:32:00,1,12,2010,2.51
1444,1444,536544,21774,DECORATIVE CATS BATHROOM BOTTLE,2,2010-12-01 14:32:00,2.51,NaN,United Kingdom,14:32:00,1,12,2010,5.02
1445,1445,536544,21786,POLKADOT RAIN HAT,4,2010-12-01 14:32:00,0.85,NaN,United Kingdom,14:32:00,1,12,2010,3.40
1446,1446,536544,21787,RAIN PONCHO RETROSPOT,2,2010-12-01 14:32:00,1.66,NaN,United Kingdom,14:32:00,1,12,2010,3.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541536,541536,581498,85099B,JUMBO BAG RED RETROSPOT,5,2011-12-09 10:26:00,4.13,NaN,United Kingdom,10:26:00,9,12,2011,20.65
541537,541537,581498,85099C,JUMBO BAG BAROQUE BLACK WHITE,4,2011-12-09 10:26:00,4.13,NaN,United Kingdom,10:26:00,9,12,2011,16.52
541538,541538,581498,85150,LADIES & GENTLEMEN METAL SIGN,1,2011-12-09 10:26:00,4.96,NaN,United Kingdom,10:26:00,9,12,2011,4.96
541539,541539,581498,85174,S/4 CACTI CANDLES,1,2011-12-09 10:26:00,10.79,NaN,United Kingdom,10:26:00,9,12,2011,10.79
541540,541540,581498,DOT,DOTCOM POSTAGE,1,2011-12-09 10:26:00,1714.17,NaN,United Kingdom,10:26:00,9,12,2011,1714.17

In [46]:
df_with_00000_CustomerID.loc[df_with_00000_CustomerID['CustomerID'].isna(), 'CustomerID'] = 00000.0

In [47]:
df_with_00000_CustomerID.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 14 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   index        541909 non-null  int64
 1   InvoiceNo    541909 non-null  object
 2   StockCode    541909 non-null  object
 3   Description  541909 non-null  object
 4   Quantity     541909 non-null  int64
 5   InvoiceDate  541909 non-null  datetime64[ns]
 6   UnitPrice    541909 non-null  float64
 7   CustomerID   541909 non-null  float64
 8   Country      541909 non-null  object
 9   Time         541909 non-null  object
 10  Day          541909 non-null  int32
 11  Month        541909 non-null  int32
 12  Year         541909 non-null  int32
 13  Sales        541909 non-null  float64
dtypes: datetime64[ns](1), float64(3), int32(3), int64(2), object(5)
memory usage: 51.7+ MB

# Plot

- Spring: March, April, May (March 1st - May 31st)
- Summer: June, July, August (June 1st - August 31st)
- Autumn: September, October, November (September 1st - November 30th)
- Winter: December, January, February (December 1st - February 28th/29th)

In [25]:
# def get_month(month):
#   if month in [3, 4, 5]:
#     return 'Spring'
#   elif month in [6, 7, 8]:
#     return 'Summer'
#   elif month in [9, 10, 11]:
#     return 'Autumn'
#   elif month in [12, 1, 2]:
#     return 'Winter'
#   else:
#     return 'Unknown'

In [26]:
# df_sales_with_row_NaN['Season'] = df_sales_with_row_NaN.Month.apply(get_month)
# df_sales_with_row_NaN